{% extends "base.html" %}
{% load static %}

{% block custom_style %}
<style>
.column {
  min-width: 100px;
  background-color: #f9f9f9;
}
.journal-if, .journal-q1, .journal-q2, .journal-q3, .journal-q4 {
  margin: 0px;
  padding: 2px 4px;
  color: white;
  font-size: 0.8rem;
  border: 0px;
  white-space: nowrap;
}
.journal-if {
  background-color: rgb(0, 113, 203); # 蓝色
}
.journal-q1 {
  background-color: rgb(234, 51, 32); # 红色
}
.journal-q2 {
  background-color: rgb(242, 196, 64); # 黄色
}
.journal-q3 {
  background-color: rgb(71, 173, 92); # 绿色
}
.journal-q4 {
  background-color: rgb(54, 110, 186); # 蓝色
}
#filter_quantile_content, #filter_impact_factor_content, #filter_pub_date_content {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
}
</style>
{% endblock %}

{% block content %}

<h1>深度学习在生物医药领域中的应用</h1>

<p class="mt-3">本数据库通过收集和整理最新科研文献信息而得，供了解领域前沿进展之用。数据源自 <a href="https://pubmed.ncbi.nlm.nih.gov/download/" target="_blank" class="external-link">PubMed Data</a> ，每日自动更新，已收录文献数量参见 <a href="/stat">统计表格</a>。表格内容由 GPT 自动整理，可能存在错误或遗漏，<b>请使用时务必注意核实！</b></a>

{% include "core/includes/intro.html" %}

<p class="mt-3">除通过在线浏览外，为方便用户离线查阅，本站也提供 <a href="/download">付费下载</a>（定价10元）。之所以考虑收费，是因为批量扫描这些文献并整理也是有一定成本的，还请理解并多多支持。本站数据会持续更新，而仅需一次付费，未来就可以随时重新下载到最新版本数据。</p>

{% include "core/includes/search.html" %}

<div class="my-3 text-start">
  当前筛选条件：

  <script>
    function updateQueryString(key, value) {
      var url = new URL(window.location.href);
      if (value) {
        url.searchParams.set(key, value);
      } else {
        url.searchParams.delete(key);
      }
      window.location.href = url.toString();
    };
  </script>

  {% if filter_quantile %}
    [<a href="javascript:;" id="filter_quantile">分区Q{{ filter_quantile }}及以上</a>]
  {% else %}
    [<a href="javascript:;" id="filter_quantile">分区不过滤</a>]
  {% endif %}
  <div id="filter_quantile_content" class="mt-2">
    <div><a href="javascript:;" onclick="updateQueryString('fq', '1')">分区Q1及以上</a></div>
    <div><a href="javascript:;" onclick="updateQueryString('fq', '2')">分区Q2及以上</a></div>
    <div><a href="javascript:;" onclick="updateQueryString('fq', '3')">分区Q3及以上</a></div>
    <div><a href="javascript:;" onclick="updateQueryString('fq', '')">分区不过滤</a></div>
  </div>
  <script>
    (() => {
      $('#filter_quantile').click(() => {
        var offset = $('#filter_quantile').offset();
        var top = offset.top + $('#filter_quantile').outerHeight();
        var left = offset.left;
        $('#filter_quantile_content').css({
            top: top,
            left: left
        }).toggle();
      });
      $(document).click(function(e) {
        if (!$(e.target).closest('#filter_quantile').length &&
            !$(e.target).closest('#filter_quantile_content').length) {
          $('#filter_quantile_content').hide();
        }
      });
    })();
  </script>

  {% if impact_factor_min or impact_factor_max %}
    {% if impact_factor_min and impact_factor_max %}
      [<a href="javascript:;" id="filter_impact_factor">IF：{{ impact_factor_min }} - {{ impact_factor_max }}</a>]
    {% else %}
      {% if impact_factor_min %}
        [<a href="javascript:;" id="filter_impact_factor">IF：{{ impact_factor_min }}及以上</a>]
      {% else %}
        [<a href="javascript:;" id="filter_impact_factor">IF：{{ impact_factor_max }}及以下</a>]
      {% endif %}
    {% endif %}
  {% else %}
    [<a href="javascript:;" id="filter_impact_factor">IF不过滤</a>]
  {% endif %}
  <div id="filter_impact_factor_content" class="mt-2">
    <input type="text" placeholder="最小值" id="impact_factor_min" value="{{ impact_factor_min }}" style="width:80px">
    -
    <input type="text" placeholder="最大值" id="impact_factor_max" value="{{ impact_factor_max }}" style="width:80px">
    <div><a href="javascript:;" id="set_filter_impact_factor">设置过滤</a></div>
    <div><a href="/">不过滤</a></div>
  </div>
  <script>
    (() => {
      $('#filter_impact_factor').click(() => {
        var offset = $('#filter_impact_factor').offset();
        var top = offset.top + $('#filter_impact_factor').outerHeight();
        var left = offset.left;
        $('#filter_impact_factor_content').css({
            top: top,
            left: left
        }).toggle();
      });

      $(document).click(function(e) {
        if (!$(e.target).closest('#filter_impact_factor').length &&
            !$(e.target).closest('#filter_impact_factor_content').length) {
          $('#filter_impact_factor_content').hide();
        }
      });

      $('#set_filter_impact_factor').click(() => {
        var impact_factor_min = $('#impact_factor_min').val();
        var impact_factor_max = $('#impact_factor_max').val();
        if (impact_factor_min || impact_factor_max) {
          updateQueryString('fi', `${impact_factor_min}-${impact_factor_max}`);
        }
      });
    })();
  </script>

  {% if pub_date_start or pub_date_end %}
    {% if pub_date_start and pub_date_end %}
      [<a href="javascript:;" id="filter_pub_date">发表日期：{{ pub_date_start }}-{{ pub_date_end }}</a>]
    {% else %}
      {% if pub_date_start %}
        [<a href="javascript:;" id="filter_pub_date">发表日期：{{ pub_date_start }}及以后</a>]
      {% else %}
        [<a href="javascript:;" id="filter_pub_date">发表日期：{{ pub_date_end }}及以前</a>]
      {% endif %}
    {% endif %}
  {% else %}
    [<a href="javascript:;" id="filter_pub_date">发表日期不过滤</a>]
  {% endif %}
  <div id="filter_pub_date_content" class="mt-2">
    <input type="text" placeholder="YYYYMM" id="pub_date_start" value="{{ pub_date_start }}" style="width:80px">
    -
    <input type="text" placeholder="YYYYMM" id="pub_date_end" value="{{ pub_date_end }}" style="width:80px">
    <div><a href="javascript:;" id="set_filter_pub_date">设置过滤</a></div>
    <div><a href="/">不过滤</a></div>
  </div>
  <script>
    (() => {
      $('#filter_pub_date').click(() => {
        var offset = $('#filter_pub_date').offset();
        var top = offset.top + $('#filter_pub_date').outerHeight();
        var left = offset.left;
        $('#filter_pub_date_content').css({
            top: top,
            left: left
        }).toggle();
      });

      $(document).click(function(e) {
        if (!$(e.target).closest('#filter_pub_date').length &&
            !$(e.target).closest('#filter_pub_date_content').length) {
          $('#filter_pub_date_content').hide();
        }
      });

      $('#set_filter_pub_date').click(() => {
        var pub_date_start = $('#pub_date_start').val();
        var pub_date_end = $('#pub_date_end').val();
        if (pub_date_start || pub_date_end) {
          updateQueryString('fd', `${pub_date_start}-${pub_date_end}`);
        }
      });
    })();
  </script>

  [<a href="/">清除筛选条件</a>]
</div>

<div class="my-3 text-start">
  当前共找到 {{ papers.paginator.count }} 篇文献{% if papers.paginator.num_pages > 1 %}，本页显示第 {{ papers.start_index }} - {{ papers.end_index }} 篇{% endif %}。
</div>

{% include "core/includes/paginator.html" %}

<table class="table table-striped border" style="max-width:100%;">
  <thead>
    <tr>
      <th>序号</th>
      <th>推送日期</th>
      <th>文章</th>
      <th class="column">类型</th>
      <th class="column">简述</th>
      <th class="column">创新点</th>
      <th class="column">不足</th>
      <th class="column">研究目的</th>
      <th class="column">研究对象</th>
      <th class="column">领域</th>
      <th class="column">病种</th>
      <th class="column">技术</th>
      <th class="column">模型</th>
      <th class="column">数据类型</th>
      <th class="column">样本量</th>
    </tr>
  </thead>
  <tbody>
    {% for paper in papers %}
    <tr>
      <td>{{ paper.index }}</td>
      <td><a title="{{ paper.parse_time | date:"Y-m-d H:i:s" }} {{ paper.source }}">{{ paper.parse_time | date:"Y-m-d" }}</a></td>
      <td>
        <div>{{ paper.title }}</div>
        <div class="mt-2">
          {{ paper.pub_date }}, {{ paper.journal }}
          {% if paper.journal_impact_factor and paper.journal_impact_factor_quartile %}
          <span class="journal-if">IF:{{ paper.journal_impact_factor }}</span><span class="journal-q{{ paper.journal_impact_factor_quartile }}">Q{{ paper.journal_impact_factor_quartile }}</span>
          {% endif %}
        </div>
        <div class="mt-2">
          {% if paper.doi %}DOI:<a href="https://doi.org/{{ paper.doi }}" target="_blank" class="external-link">{{ paper.doi }}</a>{% endif %}
          {% if paper.pmid %}PMID:<a href="https://pubmed.ncbi.nlm.nih.gov/{{ paper.pmid }}" target="_blank" class="external-link">{{ paper.pmid }}</a>{% endif %}
        </div>
      </td>
      <td class="column">{{ paper.article_type }}</td>
      <td class="column">{{ paper.description }}</td>
      <td class="column">{{ paper.novelty }}</td>
      <td class="column">{{ paper.limitation }}</td>
      <td class="column">{{ paper.research_goal }}</td>
      <td class="column">{{ paper.research_objects }}</td>
      <td class="column">{{ paper.field_category }}</td>
      <td class="column">{{ paper.disease_category }}</td>
      <td class="column">{{ paper.technique }}</td>
      <td class="column">{{ paper.model_type }}</td>
      <td class="column">{{ paper.data_type }}</td>
      <td class="column">{{ paper.sample_size }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "core/includes/paginator.html" %}

{% endblock %}
