{% extends "base.html" %}
{% load static %}

{% block custom_style %}
<style>
.column {
  min-width: 100px;
  background-color: #f9f9f9;
}
</style>
{% endblock %}

{% block content %}

<h1>深度学习在生物医药领域中的应用</h1>

<p class="mt-3">本数据库通过收集和整理最新科研文献信息而得，供了解领域前沿进展之用。数据源自 <a href="https://pubmed.ncbi.nlm.nih.gov/download/" target="_blank" class="external-link">PubMed Data</a> ，每日自动更新，已收录文献数量参见 <a href="/stat">统计表格</a>。表格内容由 GPT 自动整理，可能存在错误或遗漏，<b>请使用时务必注意核实！</b></a>

{% include "core/includes/intro.html" %}

<p class="mt-3">除通过在线浏览外，为方便用户离线查阅，本站也提供 <a href="/download">付费下载</a>（定价10元）。之所以考虑收费，是因为批量扫描这些文献并整理也是有一定成本的，还请理解并多多支持。本站数据会持续更新，而仅需一次付费，未来就可以随时重新下载到最新版本数据。</p>

{% include "core/includes/search.html" %}

{% if pub_year %}
<div class="my-3 text-start">
  当前筛选条件：发表年份为 {{ pub_year }} 年 {% if pub_month %}{{ pub_month }} 月 {% endif %}
  [<a href="/">清除筛选条件</a>]
</div>
{% endif %}

<div class="my-3 text-start">
  当前共找到 {{ papers.paginator.count }} 篇文献{% if papers.paginator.num_pages > 1 %}，本页显示第 {{ papers.start_index }} - {{ papers.end_index }} 篇{% endif %}。
</div>

{% include "core/includes/paginator.html" %}

<table class="table table-striped border" style="max-width:100%;">
  <thead>
    <tr>
      <th>序号</th>
      <th>推送日期</th>
      <th>文章</th>
      <th class="column">类型</th>
      <th class="column">简述</th>
      <th class="column">创新点</th>
      <th class="column">不足</th>
      <th class="column">研究目的</th>
      <th class="column">研究对象</th>
      <th class="column">领域</th>
      <th class="column">病种</th>
      <th class="column">技术</th>
      <th class="column">模型</th>
      <th class="column">数据类型</th>
      <th class="column">样本量</th>
    </tr>
  </thead>
  <tbody>
    {% for paper in papers %}
    <tr>
      <td>{{ paper.index }}</td>
      <td><a title="{{ paper.parse_time | date:"Y-m-d H:i:s" }} {{ paper.source }}">{{ paper.parse_time | date:"Y-m-d" }}</a></td>
      <td>
        <div>{{ paper.title }}</div>
        <div class="mt-2">{{ paper.pub_date }}, {{ paper.journal }}</div>
        <div class="mt-2">
          {% if paper.doi %}DOI:<a href="https://doi.org/{{ paper.doi }}" target="_blank" class="external-link">{{ paper.doi }}</a>{% endif %}
          {% if paper.pmid %}PMID:<a href="https://pubmed.ncbi.nlm.nih.gov/{{ paper.pmid }}" target="_blank" class="external-link">{{ paper.pmid }}</a>{% endif %}
        </div>
      </td>
      <td class="column">{{ paper.article_type }}</td>
      <td class="column">{{ paper.description }}</td>
      <td class="column">{{ paper.novelty }}</td>
      <td class="column">{{ paper.limitation }}</td>
      <td class="column">{{ paper.research_goal }}</td>
      <td class="column">{{ paper.research_objects }}</td>
      <td class="column">{{ paper.field_category }}</td>
      <td class="column">{{ paper.disease_category }}</td>
      <td class="column">{{ paper.technique }}</td>
      <td class="column">{{ paper.model_type }}</td>
      <td class="column">{{ paper.data_type }}</td>
      <td class="column">{{ paper.sample_size }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "core/includes/paginator.html" %}

{% endblock %}
