{% load static %}

{% block custom_style%}
<style>
  .custom-div {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    width: 200px;
  }
</style>
{% endblock %}

<p class="mt-3">如有建议或合作意向，欢迎联系 linlin.yan(AT)bioinfo.app 或 微信 <a href="javascript:void(0);" id="toggleLink">yanlinlin82</a>。本项目遵循 <a href="https://github.com/yanlinlin82/single-cell-papers/blob/main/LICENSE" target="_blank" class="external-link">MIT 许可</a> 发布，欢迎下载 <a href="https://github.com/yanlinlin82/single-cell-papers/" target="_blank" class="external-link">源码</a> 自行修改使用。如觉得不错，还请不吝 <a href="javascript:void(0);" id="toggleLink2">给我打赏</a>，你的支持是我继续创新的重要动力！</p>

<div id="customDiv" class="custom-div">
  <div class="text=center"><img src="{% static "images/qrcode.jpg" %}" class="img-fluid" alt="Sample Image"></div>
  <div class="text-center">添加微信请说明来意</div>
</div>

<div id="customDiv2" class="custom-div">
  <div class="text=center"><img src="{% static "images/reward.jpg" %}" class="img-fluid" alt="Sample Image"></div>
  <div class="text-center">微信赞赏</div>
</div>

<script>
  $(document).ready(function() {
    $('#toggleLink').click(function(e) {
      e.preventDefault();
      var offset = $(this).offset();
      var top = offset.top + $(this).outerHeight();
      var left = offset.left;
      $('#customDiv').css({
          top: top,
          left: left
      }).toggle();
    });

    $('#toggleLink2').click(function(e) {
      e.preventDefault();
      var offset = $(this).offset();
      var top = offset.top + $(this).outerHeight();
      var left = offset.left;
      $('#customDiv2').css({
          top: top,
          left: left
      }).toggle();
    });

    $('#customDiv').click(function(e) {
      e.stopPropagation();
    });

    $('#customDiv2').click(function(e) {
      e.stopPropagation();
    });

    $(document).click(function(e) {
        if (!$(e.target).closest('#toggleLink').length) {
            $('#customDiv').hide();
        }
        if (!$(e.target).closest('#toggleLink2').length) {
          $('#customDiv2').hide();
      }
    });
  });
</script>
