{% load static %}
<p class="mt-1">如有任何建议，或期望在相关方向上合作，欢迎联系我：linlin.yan (AT) bioinfo.app 或 微信 <a href="javascript:void(0);" id="toggleLink">yanlinlin82</a>。</p>
<div id="customDiv" class="custom-div">
  <div class="text=center"><img src="{% static "images/qrcode.jpg" %}" class="img-fluid" alt="Sample Image"></div>
  <div class="text-center">添加微信请说明来意</div>
</div>

<p class="mt-1">本项目遵循 <a href="https://github.com/yanlinlin82/what-deep-learning-does-in-biomedicine/blob/main/LICENSE" target="_blank">MIT license</a> 开源发布，有兴趣的可以自己拿着 <a href="https://github.com/yanlinlin82/what-deep-learning-does-in-biomedicine/" target="_blank">源码</a> 折腾。如果觉得还不错，也希望不吝 <a href="javascript:void(0);" id="toggleLink2">给我打赏</a>，你的支持将是我继续努力开发更多更有用功能的动力！</p>
<div id="customDiv2" class="custom-div">
  <div class="text=center"><img src="{% static "images/reward.jpg" %}" class="img-fluid" alt="Sample Image"></div>
  <div class="text-center">微信赞赏</div>
</div>

<script>
  $(document).ready(function() {
    $('#toggleLink').click(function(e) {
      e.preventDefault();
      var offset = $(this).offset();
      var top = offset.top + $(this).outerHeight();
      var left = offset.left;
      $('#customDiv').css({
          top: top,
          left: left
      }).toggle();
    });

    $('#toggleLink2').click(function(e) {
      e.preventDefault();
      var offset = $(this).offset();
      var top = offset.top + $(this).outerHeight();
      var left = offset.left;
      $('#customDiv2').css({
          top: top,
          left: left
      }).toggle();
    });

    $('#customDiv').click(function(e) {
      e.stopPropagation();
    });

    $('#customDiv2').click(function(e) {
      e.stopPropagation();
    });

    $(document).click(function(e) {
        if (!$(e.target).closest('#toggleLink').length) {
            $('#customDiv').hide();
        }
        if (!$(e.target).closest('#toggleLink2').length) {
          $('#customDiv2').hide();
      }
    });
  });
</script>
